.row
{
  line-height: 1;
}

.hit
{
  font-size: 4em; color: crimson;
}

.miss
{
  font-size: 4em; color: lightskyblue;
}

.blank
{
  font-size: 4em; color: slategray;
}

.cell
{
  margin: auto;
  cursor: pointer;
}

.grid {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
  }